#productsSection {
    margin-top: 50px;
  max-width: 100vw;
  .productsContainer {
    margin: 0 auto;
    width: 1350px;
    h2{
        font-size: 36px;
    }

    .filterSection {
        margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .categories {
        ul {
          display: flex;
          gap: 10px;
          a {
            color: gray;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .filterAndSearch {
        display: flex;
        gap: 20px;
        button {
          padding: 12px 22px;
          background-color: white;
          border: 1px solid lightgray;
          display: flex;
          gap: 5px;
          color: gray;
          border-radius: 5px;
          cursor: pointer;
          transition: 400ms;
          &:hover {
            background-color: #6c7ae0;
            color: white;
          }
        }
      }
    }
    .hiddenFilterBoard {
        margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      background-color: #f2f2f2;
      height: 268px;
      padding: 30px 0 40px 50px;
      gap: 230px;
      ul {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        li {
          color: gray;
          cursor: pointer;
          text-wrap: nowrap;
          &:hover {
            color: blue;
            text-decoration: underline;
          }
        }
      }
      .title {
        font-weight: 700;
      }
      .filterParam_Color{
        li{
            display: flex;
            align-items: center;
            gap: 12px;
        }
        .color{
            width: 13px;
            height: 13px;
            border-radius: 50%;
            border: 1px solid lightgray;

        }
      }
      .filterParam_Tags{
        display: flex;
        flex-wrap: wrap ;
        gap: 5px;
        
        button{
           
            border: 1px solid lightgray;
            padding: 9px 25px;
            border-radius: 25px;
            display: flex;

        }
      }
    }
  }
}
